<div class="container margenes">
    {{!-- inicio fila 1 --}}
    <div class="row">
        <div class="col">
            <p class="text-end">Hola {{persona}} ! <a href="" class="btn btn-dark">Cerrar sesión <i
                        class="fa-solid fa-right-from-bracket"></i></a></p>
        </div>
    </div>
    {{!-- fin fila 1 --}}


    {{!-- inicio fila 2 --}}
    <div class="row">
        <div class="col-7">
            <h2>Listado de novedades</h2>
        </div>
        <div class="col-5 text-end">
            <a href="" class="btn btn-success"> <i class="fa-solid fa-plus"></i> Nuevo </a>
        </div>
    </div>
    {{!-- fin fila 2 --}}

    {{!-- inicio fila 3--}}
    <div class="row">
        <div class="col">

            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">Título</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Título</td>
                        <td class="text-end">Otto
                            <a href="" class="btn btn-secondary"><i class="fa-solid fa-pencil"></i></a> {{!-- MODIFICAR --}}
                            <a href="" class="btn btn-secondary"><i class="fa-solid fa-trash"></i></a> </td> {{!-- MODIFICAR --}}
                    </tr>
                    
                </tbody>
            </table>

        </div>

    </div>

    {{!-- fin fila 3 --}}

</div>