<div class="contacto">
    <div>
        <h2>Contacto rápido</h2>

        <form action="method" class="formulario">

            <p>
                <label for="">nombre</label>
                <input type="text">
            </p>

            <p>
                <label for="">email</label>
                <input type="email">
            </p>


            <p>
                <label for="">teléfono</label>
                <input type="text">
            </p>



            <p class="mensajetext">
                <label for="">Mensaje</label>
                <textarea name="" id=""></textarea>
            </p>

            <p>
                <input type="submit" value="enviar">
            </p>




        </form>

    </div>


    <div class="datos">
        <h2>Otras vías de comunicación</h3>
            <p>También puedes contactarte con nosotros usando los siguientes medios </p>
            <ul>
                <li>Teléfono</li>
                <li>Email</li>
                <li>Whatsapp</li>
                <li>Instagram</li>
                <li>Facebook</li>
            </ul>
    </div>
</div>