 <div>
            <img src="images/home/img01.jpg" alt="avion">
        </div>

        <div class="columnas">
            <section class="bienvenidos">
                <h2>Bienvenidos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos qui placeat perferendis
                    laudantium atque rerum velit error saepe quas, numquam rem consectetur maxime, sit aut possimus
                    culpa obcaecati incidunt sapiente. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam
                    molestiae officia nulla assumenda eius voluptatum odio. Accusantium voluptatibus amet quibusdam id,
                    quidem et veritatis, tempora, totam asperiores itaque explicabo odio?</p>

            </section>

            <section class="testimonios">
                <h2>Testimonios</h2>
                <div class="testimonio">
                    <span class="cita">Simplemente excelente</span>
                    <span class="autor">Juan Gomez - Zapatos.com</span>
                </div>


            </section>

        </div>