<section class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore sunt aspernatur perspiciatis tempora eum
                possimus. Delectus cupiditate accusantium nemo ex cumque sint pariatur quo non debitis vel fuga,
                eligendi corrupti?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem voluptas architecto
                corrupti aut, quod esse ducimus reprehenderit maxime! Aspernatur, nisi explicabo eos autem vitae ipsa
                ullam eum tempore distinctio nemo.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ea vel veritatis obcaecati cupiditate hic
                possimus adipisci, nostrum illo non vitae fugit, necessitatibus omnis error quaerat ut, tenetur iure
                delectus.</p>
        </section>


        <section class="staff">
            <h2>Staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="Juan Gomez">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus inventore, magni dolor ducimus iusto sint temporibus enim illum totam in nesciunt dolorem nemo eligendi ex? Libero, autem? Illum, cupiditate ducimus.</p>
                </div>

                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="Guam Jomez">
                    <h5>Guam Jomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus inventore, magtemporibus enim illu nesciunt dolorem nemo eligendi ex? Libero, autem? Illum, cupiditate ducimus.</p>
                </div>

                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="Numez Gam">
                    <h5>Numez Gam</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus inventore,o eligendi ex? Libero, autem? Illum, cupiditate ducimus.</p>
                </div>

                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="Mon Romez">
                    <h5>Mon Romez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus invesciunt dolorem nemo eligendi ex? Libero, autem? Illum, cupiditate ducimus.</p>
                </div>

                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="Zemog Nauj">
                    <h5>Zemog Nauj</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet, consiusto sint temporibus enim illum totam in nesciunt dolorem nemo eligendi ex? Libero, autem? Illum, cupiditate ducimus.</p>
                </div>
                
                
            </div>