<h2>Novedades</h2>
        <div>
            <h3>Título</h3>
            <h4>Subtítulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente omnis porro, assumenda labore fugit nesciunt corrupti adipisci, recusandae modi perspiciatis, doloribus harum ratione ducimus minima accusamus quaerat ullam natus vitae?</p>
            <hr/>
        </div>
    